<form [formGroup]="textEntryForm" (ngSubmit)="addToDo()">

    <button type="submit" [disabled]="!textEntryForm.valid">add</button>
    <input #newItem placeholder="item" formControlName="textEntryFormControl" />
    
    <ul [hidden]="textEntryForm.controls.textEntryFormControl.valid || textEntryForm.controls.textEntryFormControl.untouched">
        <li [hidden]="!textEntryForm.controls.textEntryFormControl.hasError('required')">
            This field is required. 
        </li>
        <li [hidden]="!textEntryForm.controls.textEntryFormControl.hasError('timeFormat')">
            This field format is invalid. 
        </li>
    </ul>

</form>